<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Copyright (C) 2016  Thomas Fritsch.
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<plugin>
   <extension point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.tfritsch.psdt.ui.editor.PostscriptEditor"
            class="de.tfritsch.psdt.debug.ui.breakpoints.PSAdapterFactory">
         <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
         <adapter type="org.eclipse.debug.ui.actions.IRunToLineTarget"/>
      </factory>
   </extension>
   <extension point="org.eclipse.debug.core.breakpoints">
      <breakpoint
           class="de.tfritsch.psdt.debug.core.breakpoints.PSLineBreakpoint"
      	   id="de.tfritsch.psdt.debug.model.lineBreakpoint"
      	   markerType="org.eclipse.debug.core.lineBreakpointMarker"
      	   name="Postscript Breakpoint">
      </breakpoint>
   </extension>
   <extension point="org.eclipse.debug.core.processFactories">
      <processFactory
            class="de.tfritsch.psdt.debug.core.process.PSProcessFactory"
            id="de.tfritsch.psdt.debug.processFactory">
      </processFactory>
   </extension>
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="de.tfritsch.psdt.debug.launchConfigurationType"
            name="PostScript Application"
            delegate="de.tfritsch.psdt.debug.core.launch.PSLaunchConfigurationDelegate"
            sourceLocatorId="de.tfritsch.psdt.debug.sourceLocator"
            modes="run,debug">
      </launchConfigurationType>
   </extension>
   <extension point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            name="PostScript Source Locator"
            class="de.tfritsch.psdt.debug.core.sourcelookup.PSSourceLocator"
            id="de.tfritsch.psdt.debug.sourceLocator">
      </sourceLocator>
   </extension>
   <extension point="org.eclipse.debug.core.watchExpressionDelegates">
      <watchExpressionDelegate
            debugModel="de.tfritsch.psdt.debug"
            delegateClass="de.tfritsch.psdt.debug.core.model.PSWatchExpressionDelegate">
      </watchExpressionDelegate>
   </extension>
   <extension point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="de.tfritsch.psdt.debug.ui.presentation.PSDebugModelPresentation"
            id="de.tfritsch.psdt.debug">
      </debugModelPresentation>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="de.tfritsch.psdt.debug.ui.launch.PSTabGroup"
            id="de.tfritsch.psdt.debug.launchConfigurationTabGroup"
            type="de.tfritsch.psdt.debug.launchConfigurationType">
         <launchMode mode="run"
               description="Run a PostScript application"/>
         <launchMode mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective"
               description="Debug a PostScript application"/>
      </launchConfigurationTabGroup>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/ps_app.gif"
            id="de.tfritsch.psdt.debug.launchConfigurationTypeImage"
            configTypeID="de.tfritsch.psdt.debug.launchConfigurationType">
      </launchConfigurationTypeImage>
   </extension>
   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="de.tfritsch.psdt.debug.ui.launch.PSLaunchShortcut"
            icon="icons/ps_app.gif"
            id="de.tfritsch.postscript.shortcut"
            label="PostScript Application"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                     <or>
                        <test property="org.eclipse.debug.ui.matchesPattern"
                              value="*.ps"/>
                        <test property="org.eclipse.debug.ui.matchesPattern"
                              value="*.eps"/>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension point="org.eclipse.debug.ui.consoleLineTrackers">
      <consoleLineTracker 
            id="de.tfritsch.postscript.consoleLineTracker"
            class="de.tfritsch.psdt.debug.ui.console.PSConsoleLineTracker"
            processType="PostScript">
      </consoleLineTracker>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page name="Ghostscript"
            id="de.tfritsch.psdt.debug.ghostscriptPreferencePage"
            class="de.tfritsch.psdt.debug.ui.preferences.GhostscriptPreferencePage"
            category="de.tfritsch.psdt.Postscript">
      </page>
      <page name="Debug"
            id="de.tfritsch.psdt.debug.debugPreferencePage"
            class="de.tfritsch.psdt.debug.ui.preferences.DebugPreferencePage"
            category="de.tfritsch.psdt.Postscript">
      </page>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.tfritsch.psdt.debug.core.preferences.GhostscriptPreferenceInitializer">
      </initializer>
      <initializer
            class="de.tfritsch.psdt.debug.core.preferences.DebugPreferenceInitializer">
      </initializer>
   </extension>
   <extension point="org.eclipse.ui.editorActions">
      <editorContribution targetID="de.tfritsch.psdt.Postscript" 
                          id="de.tfritsch.psdt.Postscript.ide.rulerActions">
	     <action
	             label="Toggle Breakpoint"
	             class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
	             style="push"
	             actionID="RulerDoubleClick"
	             id="de.tfritsch.psdt.Postscript.doubleClickBreakpointAction"/>
	  </editorContribution>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
         targetID="de.tfritsch.psdt.Postscript.RulerContext"
         id="de.tfritsch.psdt.Postscript.ide.RulerPopupActions">
         <action
               class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
               id="de.tfritsch.psdt.Postscript.ide.rulerContextMenu.enableDisableBreakpointAction"
               label="Enable/Disable Breakpoint"
               menubarPath="debug">
         </action>
         <action
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               icon="platform:/plugin/org.eclipse.debug.ui/icons/full/obj16/brkp_obj.gif"
               id="de.tfritsch.psdt.Postscript.ide.rulerContextMenu.toggleBreakpointAction"
               label="Toggle Breakpoint"
               menubarPath="debug">
         </action>
      </viewerContribution>
      <viewerContribution
         targetID="de.tfritsch.psdt.Postscript.EditorContext"
         id="de.tfritsch.psdt.Postscript.ide.EditorPopupActions">
         <action
               class="org.eclipse.debug.ui.actions.RunToLineActionDelegate"
               id="de.tfritsch.psdt.Postscript.ide.editorContextMenu.runToLineAction"
               label="Run to Line"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
</plugin>
