<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.core.resources.markers"
         id="lineBreakpointMarker">
      <super type="org.eclipse.debug.core.lineBreakpointMarker"/>
      <persistent value="true"/>
      <attribute name="de.tfritsch.psdt.debug.model.string"/>
   </extension>
   <extension point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="de.tfritsch.psdt.debug.model.PSLineBreakpoint"
            id="de.tfritsch.psdt.debug.lineBreakpoint"
            markerType="de.tfritsch.psdt.debug.lineBreakpointMarker"
            name="%PSLineBreakpoint.name">
      </breakpoint>
   </extension>
   <extension point="org.eclipse.debug.core.processFactories">
      <processFactory
            class="de.tfritsch.psdt.debug.model.PSProcessFactory"
            id="de.tfritsch.psdt.debug.processFactory">
      </processFactory>
   </extension>
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="de.tfritsch.psdt.debug.launchConfigurationType"
            name="%PSLaunchConfigurationDelegate.name"
            delegate="de.tfritsch.psdt.debug.model.PSLaunchConfigurationDelegate"
            sourceLocatorId="de.tfritsch.psdt.debug.sourceLocator"
            modes="run,debug">
      </launchConfigurationType>
   </extension>
   <extension point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            name="%PSSourceLocator.name"
            class="de.tfritsch.psdt.debug.model.PSSourceLocator"
            id="de.tfritsch.psdt.debug.sourceLocator">
      </sourceLocator>
   </extension>
   <extension point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="de.tfritsch.psdt.debug.ui.PSDebugModelPresentation"
            id="de.tfritsch.psdt.debug.debugModel">
      </debugModelPresentation>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="de.tfritsch.psdt.debug.ui.PSTabGroup"
            id="de.tfritsch.psdt.debug.launchConfigurationTabGroup"
            type="de.tfritsch.psdt.debug.launchConfigurationType">
         <launchMode mode="run"
               description="%PSTabGroup.run.description"/>
         <launchMode mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective"
               description="%PSTabGroup.debug.description"/>
      </launchConfigurationTabGroup>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/ps_app.gif"
            id="de.tfritsch.psdt.debug.launchConfigurationTypeImage"
            configTypeID="de.tfritsch.psdt.debug.launchConfigurationType">
      </launchConfigurationTypeImage>
   </extension>
   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="de.tfritsch.psdt.debug.ui.PSLaunchShortcut"
            icon="icons/ps_app.gif"
            id="de.tfritsch.postscript.shortcut"
            label="%PSLaunchShortcut.name"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                     <or>
                        <test property="org.eclipse.debug.ui.matchesPattern"
                              value="*.ps"/>
                        <test property="org.eclipse.debug.ui.matchesPattern"
                              value="*.eps"/>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension point="org.eclipse.ui.editorActions">
      <editorContribution
            id="de.tfritsch.postscript.rulerActions"
            targetID="de.tfritsch.psdt.Postscript">
         <action
               id="de.tfritsch.psdt.debug.toggleBreakpointAction"
               label="%RulerToggleBreakpointActionDelegate.label"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               actionID="RulerDoubleClick"/>
      </editorContribution>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
           id="de.tfritsch.postscript.rulerPopupActions"
           targetID="#TextRulerContext">
         <action
               id="de.tfritsch.psdt.debug.enableDisableBreakpointAction"
               label="%RulerEnableDisableBreakpointActionDelegate.label"
               class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
               menubarPath="debug">
         </action>
         <action
               id="de.tfritsch.psdt.debug.toggleBreakpointAction"
               label="%RulerToggleBreakpointActionDelegate.label"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               menubarPath="debug"
               icon="icons/brkp_obj.gif">
         </action>
      </viewerContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page name="%GhostscriptPreferencePage.name"
            id="de.tfritsch.psdt.debug.ghostscriptPreferencePage"
            class="de.tfritsch.psdt.debug.ui.GhostscriptPreferencePage"
            category="de.tfritsch.psdt.Postscript">
      </page>
   </extension>
</plugin>
