<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.debug.core.processFactories">
      <processFactory
            class="de.tfritsch.psdt.debug.model.PSProcessFactory"
            id="de.tfritsch.psdt.debug.processFactory">
      </processFactory>
   </extension>
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="de.tfritsch.psdt.debug.launchConfigurationType"
            name="PostScript Application"
            delegate="de.tfritsch.psdt.debug.model.PSLaunchConfigurationDelegate"
            sourceLocatorId="de.tfritsch.psdt.debug.sourceLocator"
            modes="run,debug">
      </launchConfigurationType>
   </extension>
   <extension point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            name="PostScript Source Locator"
            class="de.tfritsch.psdt.debug.model.PSSourceLocator"
            id="de.tfritsch.psdt.debug.sourceLocator">
      </sourceLocator>
   </extension>
   <extension point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="de.tfritsch.psdt.debug.ui.PSDebugModelPresentation"
            id="de.tfritsch.psdt.debug.debugModel">
      </debugModelPresentation>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="de.tfritsch.psdt.debug.ui.PSTabGroup"
            id="de.tfritsch.psdt.debug.launchConfigurationTabGroup"
            type="de.tfritsch.psdt.debug.launchConfigurationType">
         <launchMode mode="run"
               description="Run a PostScript application"/>
         <launchMode mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective"
               description="Debug a PostScript application"/>
      </launchConfigurationTabGroup>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/ps_app.gif"
            id="de.tfritsch.psdt.debug.launchConfigurationTypeImage"
            configTypeID="de.tfritsch.psdt.debug.launchConfigurationType">
      </launchConfigurationTypeImage>
   </extension>
   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="de.tfritsch.psdt.debug.ui.PSLaunchShortcut"
            icon="icons/ps_app.gif"
            id="de.tfritsch.postscript.shortcut"
            label="PostScript Application"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                     <or>
                        <test property="org.eclipse.debug.ui.matchesPattern"
                              value="*.ps"/>
                        <test property="org.eclipse.debug.ui.matchesPattern"
                              value="*.eps"/>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page name="Ghostscript"
            id="de.tfritsch.psdt.debug.ghostscriptPreferencePage"
            class="de.tfritsch.psdt.debug.ui.GhostscriptPreferencePage"
            category="de.tfritsch.psdt.Postscript">
      </page>
   </extension>
</plugin>
