<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.tfritsch.de/psdt/Postscript" 
       class = "de.tfritsch.psdt.postscript.PostscriptPackage"
       genModel = "model/generated/Postscript.genmodel" /> 
	
  </extension>


  <extension point="org.eclipse.core.contenttype.contentTypes"> 
    <content-type
       base-type="org.eclipse.core.runtime.text"
       default-charset="ISO-8859-1"
       file-extensions="ps,eps"
       id="de.tfritsch.psdt.postscript"
       name="PostScript File"/>
  </extension> 

</plugin>
